<!-- Step 1: Add a heading, per the test failure! -->

<!--
  Step 7:
  Uncomment the code below by removing the `#` characters from the ERB
-->
<ul id="todos">
  <%# tasks.each do |task| %>
    <li class="task">
      <%#= task.description %>
    </li>
  <%# end %>
</ul>
<!--
  Step 8:
  Let the error "undefined local variable or method `tasks'"
  thrown by the code above, drive you to move in to the
  controller to pass a local `tasks` variable in to this template!
-->

<!-- Step 11: Remove this text -->
<p>This page will soon be home to a TODO app!</p>
