<!--
  View Hint 1: See https://www.puppet.com/docs/puppet/5.5/lang_template_erb.html#non-printing-tags for an
  example of using an `if` statement in ERB (the default templating language included with ruby)!

  View Hint 2: Our `Task` class inherits from ActiveRecord. This section of the Ruby on Rails ActiveRecord
  guide shows how to "read" data using ActiveRecord: https://guides.rubyonrails.org/active_record_basics.html#read
-->
<h1>If you can dream it, you can TODO it!</h1>

<ul id="todos">
  <% tasks.each do |task| %>
    <li class="task">
      <a href="/tasks/<%=task.id %>"><%= task.description %></a>
    </li>
  <% end %>
</ul>
<% if Task.all.empty? %>
<p>There are no tasks remaining! You should add one!</p>
<% end %>

<a href="/tasks/new">Add task</a>
