<h1>Simple Photo Processor Upload Page</h1>
<!-- Normally, we would use a form builder, but
     for now, we are building the forms manually. -->
<form method="POST" action="/simple_photo_processor" enctype="multipart/form-data">
  <!-- Normally, there would be a hidden tag in this
       form via e.g. rack-attack, to protect from... attacks.
       But, we are going as simple as possible on this lab,
       so we will save that for next time!
  -->
  <label for="imageUpload">Select an image to upload</label>
  <input type="file" id="imageUpload" name="imageUpload" />
  <input type="submit" value="Upload" />
</form>
