<h1>Hello, World! My name is <%= name %>.</h1>
<p>Would you like to try the
  <a href="/simple_photo_processor/new">Simple Photo Processor</a>
  I've been working on?
</p>
<p>
  <small id="jsMessageGoesHere"></small>
</p>

<script type="text/javascript">
  // TODO: Write one line of JavaScript to make a test pass!
</script>
