<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Simple Photo Processor</title>

  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="icon" href="/images/favicon.png'">
</head>

<body>
  <div class="container">
    <strong>Together, we can TODO it!</strong>
  </div>
  <div class="container">
    <%= styled_flash %>
    <%= yield %>
  </div>
</body>

</html>
